---
import ConocimientoContainer from "../components/ConocContainer.astro";
import "@fontsource/oswald";
---

<section class="my-8" id="conocimientos">
  <h4
    class="text-4xl font-oswald font-semibold drop-shadow-[2px_2px_var(--tw-shadow-color)] shadow-blue-500"
  >
    Conocimientos
  </h4>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-x-8 gap-y-8 mt-4">
    <ConocimientoContainer
      color="text-amber-500"
      category="Frontend"
      icons={[
        {
          src: "https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/512px-HTML5_logo_and_wordmark.svg.png",
          name: "HTML5",
          alt: "HTML5 logo",
        },
        {
          src: "https://upload.wikimedia.org/wikipedia/commons/thumb/6/62/CSS3_logo.svg/2048px-CSS3_logo.svg.png",
          name: "CSS3",
          alt: "CSS3 logo",
        },
        {
          src: "https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Unofficial_JavaScript_logo_2.svg/1024px-Unofficial_JavaScript_logo_2.svg.png",
          name: "JavaScript",
          alt: "JavaScript logo",
        },
        {
          src: "https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/React-icon.svg/2300px-React-icon.svg.png",
          name: "ReactJs",
          alt: "React logo",
        },
        {
          src: "https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/React-icon.svg/2300px-React-icon.svg.png",
          name: "React Native",
          alt: "React Native logo",
        },
        {
          src: "https://upload.wikimedia.org/wikipedia/commons/b/b2/Bootstrap_logo.svg",
          name: "Bootstrap",
          alt: "Bootstrap logo",
        },
        {
          src: "https://seeklogo.com/images/M/materialize-logo-0FCAD8A6F8-seeklogo.com.png",
          name: "Materialize.css",
          alt: "Materialize.css logo",
        },
      ]}
    />
    <ConocimientoContainer
      color="text-red-300"
      category="Backend"
      icons={[
        {
          src: "https://cdn.worldvectorlogo.com/logos/nodejs-icon.svg",
          name: "NodeJS",
          alt: "NodeJS logo",
        },
        {
          src: "https://www.svgrepo.com/show/330398/express.svg",
          name: "ExpressJS",
          alt: "ExpressJS logo",
        },
        {
          src: "https://cdn.worldvectorlogo.com/logos/mysql-6.svg",
          name: "MySQL",
          alt: "MySQL logo",
        },
        {
          src: "https://www.svgrepo.com/show/354333/sequelize.svg",
          name: "Sequelize",
          alt: "Sequelize logo",
        },
        {
          src: "https://seeklogo.com/images/J/json-web-tokens-jwt-io-logo-C003DEC47A-seeklogo.com.png",
          name: "Jsonwebtoken",
          alt: "Jsonwebtoken logo",
        },
        {
          src: "https://www.svgrepo.com/show/331760/sql-database-generic.svg",
          name: "SQL",
          alt: "SQL logo",
        },
      ]}
    />
    <ConocimientoContainer
      color="text-lime-300"
      category="Herramientas"
      icons={[
        {
          src: "https://iconape.com/wp-content/png_logo_vector/git-icon.png",
          name: "Git",
          alt: "Git logo",
        },
        {
          src: "https://cdn-icons-png.flaticon.com/512/2111/2111612.png",
          name: "GitHub",
          alt: "GitHub logo",
        },
        {
          src: "https://cdn.worldvectorlogo.com/logos/visual-studio-code-1.svg",
          name: "VSCode",
          alt: "VSCode logo",
        },
        {
          src: "https://www.svgrepo.com/show/361365/terminal-bash.svg",
          name: "Terminal",
          alt: "Terminal logo",
        },
        {
          src: "https://upload.wikimedia.org/wikipedia/commons/thumb/d/db/Npm-logo.svg/540px-Npm-logo.svg.png",
          name: "npm",
          alt: "npm logo",
        },
      ]}
    />
    <ConocimientoContainer
      color="text-cyan-400"
      category="Aprendiendo"
      icons={[
        {
          src: "https://astro.build/assets/press/astro-icon-light-gradient.png",
          name: "Astro",
          alt: "Astro logo",
        },
        {
          src: "https://cdn.worldvectorlogo.com/logos/typescript.svg",
          name: "TypeScript",
          alt: "TypeScript logo",
        },
        {
          src: "https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/1869px-Python-logo-notext.svg.png",
          name: "Python",
          alt: "Python logo",
        },
        {
          src: "https://static-00.iconduck.com/assets.00/nextjs-icon-1024x1024-0nli97e5.png",
          name: "NextJs",
          alt: "NextJs logo",
        },
        {
          src: "https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/Tailwind_CSS_Logo.svg/320px-Tailwind_CSS_Logo.svg.png",
          name: "TailwindCSS",
          alt: "TailwindCSS logo",
        },
        {
          src: "https://upload.wikimedia.org/wikipedia/commons/f/f1/Vitejs-logo.svg",
          name: "Vite",
          alt: "Vite logo",
        },
      ]}
    />
  </div>
</section>
