---
import ConocimientoContainer from "../components/ConocContainer.astro";
import "@fontsource/oswald";
import svgs from "../svgs/svgs";
---

<section class="my-8" id="conocimientos">
  <h4
    class="text-4xl font-oswald font-semibold drop-shadow-[2px_2px_var(--tw-shadow-color)] shadow-blue-500 underline"
  >
    Conocimientos
  </h4>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-x-8 gap-y-8 mt-4">
    <ConocimientoContainer
      color="text-amber-500"
      category="Frontend"
      icons={[
        {
          svg: svgs.html,
          name: "HTML5",
        },
        {
          svg: svgs.css,
          name: "CSS3",
        },
        {
          svg: svgs.js,
          name: "Javascript",
        },
        {
          svg: svgs.react,
          name: "React",
        },
        {
          svg: svgs.react,
          name: "R. Native",
        },
        {
          svg: svgs.bootstrap,
          name: "Bootstrap",
        },
        {
          svg: svgs.tailwind,
          name: "Tailwind",
        },
        {
          svg: svgs.materialize,
          name: "Materialize",
        },
        {
          svg: svgs.sass,
          name: "Sass",
        },
        {
          svg: svgs.expo,
          name: "Expo",
        },
      ]}
    />
    <ConocimientoContainer
      color="text-red-300"
      category="Backend"
      icons={[
        {
          svg: svgs.node,
          name: "NodeJS",
        },
        {
          svg: svgs.express,
          name: "Express",
        },
        {
          svg: svgs.mysql,
          name: "MySQL",
        },
        {
          svg: svgs.sequelize,
          name: "Sequelize",
        },
        {
          svg: svgs.jwt,
          name: "JWT",
        },
        {
          svg: svgs.sqlite,
          name: "Sqlite3",
        },
        {
          svg: svgs.sql,
          name: "SQL",
        },
      ]}
    />
    <ConocimientoContainer
      color="text-lime-300"
      category="Herramientas"
      icons={[
        {
          svg: svgs.postman,
          name: "Postman",
        },
        {
          svg: svgs.git,
          name: "Git",
        },
        {
          svg: svgs.github,
          name: "GitHub",
        },
        {
          svg: svgs.vite,
          name: "Vite",
        },
        {
          svg: svgs.vercel,
          name: "Vercel",
        },
        {
          svg: svgs.npm,
          name: "npm",
        },
        {
          svg: svgs.vsc,
          name: "VSCode",
        },
      ]}
    />
    <ConocimientoContainer
      color="text-cyan-400"
      category="Aprendiendo"
      icons={[
        {
          svg: svgs.astro,
          name: "Astro",
        },
        {
          svg: svgs.ts,
          name: "Typescript",
        },
        {
          svg: svgs.next,
          name: "NextJS",
        },
        {
          svg: svgs.python,
          name: "Python",
        },
        {
          svg: svgs.java,
          name: "Java",
        },
        {
          svg: svgs.spring,
          name: "Spring",
        },
        {
          svg: svgs.swagger,
          name: "Swagger",
        },
      ]}
    />
  </div>
</section>
