---
import Laburo from "../components/Laburo.astro";
import "@fontsource/oswald";
---

<section class="my-8">
  <h4
    class="text-4xl font-oswald font-semibold drop-shadow-[2px_2px_var(--tw-shadow-color)] shadow-blue-500"
    id="experiencia"
  >
    Experiencia
  </h4>
  <Laburo
    title="Junior FullStack Developer en Engtrade -- Servicios de Consultoría"
    experience={[
      "Trabajando en remoto para la Ciudad Autónoma de Buenos Aires, Buenos Aires, Argentina",
      `Desarrollo de aplicaciones web interactivas y responsivas
        utilizando un stack Javascript, con node.js, express.js,
        sequelize, react.js, axios, materialize.css, y demás frameworks y
        librerias, utilizando la metodología ágil SCRUM`,
    ]}
    date="2023/01 - Actualidad"
  />
  <Laburo
    title="Junior FrontEnd Developer and Junior Team Leader en Engtrade -- Servicios de Consultoría"
    experience={[
      "Trabajando en remoto para la Ciudad Autónoma de Buenos Aires, Buenos Aires, Argentina",
      "Desarrollo de maquetas interactivas y responsivas con HTML y CSS",
      "Data Entry de archivos pdfs de licitaciones públicas",
      "Líder de equipo de Data Entrys, resolución de conflictos, y comunicación efectiva entre miembros del equipo",
    ]}
    date="2021/12 - 2023/01"
  />
</section>
