<nav
  class="flex justify-between rounded-full border p-4 border-orange-700 shadow-md shadow-orange-700"
>
  <div>
    <button
      id="menuButton"
      class="text-green-600 font-semibold text-base hover:text-green-300 hover:cursor-pointer md:hidden"
      style="opacity: 1;"
    >
      ☰
    </button>
  </div>
  <div class="hidden md:flex">
    <p
      class="text-green-600 font-semibold text-base hover:text-green-300 hover:cursor-pointer mr-4"
    >
      <a href="#experiencia">Experiencia</a>
    </p>
    <p
      class="text-green-600 font-semibold text-base hover:text-green-300 hover:cursor-pointer mr-4"
    >
      <a href="#conocimientos">Conocimientos</a>
    </p>
    <p
      class="text-green-600 font-semibold text-base hover:text-green-300 hover:cursor-pointer"
    >
      <a href="#proyectos">Proyectos</a>
    </p>
  </div>
</nav>

<nav class="flex justify-between rounded-lg border-orange-700">
  <div
    id="sideMenu"
    class="hidden bg-transparent w-64 h-full fixed top-0 left-0 z-10 overflow-y-auto p-8"
  >
    <button
      id="closeMenuButton"
      class="text-green-600 font-semibold text-base hover:text-green-300 hover:cursor-pointer md:hidden"
    >
      ☰
    </button>
    <br />
    <br />
    <p
      class="text-green-600 font-semibold text-base hover:text-green-300 hover:cursor-pointer"
    >
      <a href="#experiencia">Experiencia</a>
    </p>
    <p
      class="text-green-600 font-semibold text-base hover:text-green-300 hover:cursor-pointer"
    >
      <a href="#conocimientos">Conocimientos</a>
    </p>
    <p
      class="text-green-600 font-semibold text-base hover:text-green-300 hover:cursor-pointer"
    >
      <a href="#proyectos">Proyectos</a>
    </p>
  </div>
</nav>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const menuButton = document.getElementById("menuButton");
    const closeMenuButton = document.getElementById("closeMenuButton");
    const sideMenu = document.getElementById("sideMenu");

    // Función para cerrar la barra lateral
    function cerrarMenu() {
      sideMenu.classList.add("hidden");
      menuButton.style.opacity = "1";
    }

    menuButton.addEventListener("click", function () {
      sideMenu.classList.toggle("hidden");
      menuButton.style.opacity = menuButton.style.opacity == "0" ? "1" : "0";
    });

    closeMenuButton.addEventListener("click", function () {
      cerrarMenu();
    });

    // Evento para cerrar la barra lateral cuando el ancho de la ventana cambia a uno superior a mediano
    window.addEventListener("resize", function () {
      if (window.innerWidth > 768) {
        // Cambia 768 al tamaño en píxeles correspondiente a "mediano" según tu diseño
        cerrarMenu();
      }
    });

    // Agregar evento de clic a los enlaces del menú horizontal
    const enlacesMenuHorizontal =
      document.querySelectorAll(".flex a[href^='#']");
    enlacesMenuHorizontal.forEach(function (enlace) {
      enlace.addEventListener("click", function () {
        cerrarMenu();
      });
    });
  });
</script>
