<nav class="flex justify-between rounded-lg border-orange-700">
  <div>
    <p
      class="text-green-600 font-semibold text-base hover:text-green-300 hover:cursor-pointer"
    >
      Bruno Virinni
    </p>
  </div>
  <div class="flex">
    <p
      class="text-green-600 font-semibold text-base hover:text-green-300 hover:cursor-pointer mr-4"
    >
      Experiencia
    </p>
    <p
      class="text-green-600 font-semibold text-base hover:text-green-300 hover:cursor-pointer mr-4"
    >
      Conocimientos
    </p>
    <p
      class="text-green-600 font-semibold text-base hover:text-green-300 hover:cursor-pointer"
    >
      Proyectos
    </p>
  </div>
</nav>
