---
import "@fontsource/angkor";
import "@fontsource/indie-flower";

import Linkedin from "../icons/Linkedin.astro";
import GitHub from "../icons/GitHub.astro";
import Gmail from "../icons/Gmail.astro";
---

<article class="flex flex-col items-center md:flex-row border-lime-200 my-8">
  <img
    src="/assets/foto.png"
    class="w-48 h-auto rounded-full md:mr-8 md:mb-0"
    alt="Profile Photo"
  />
  <div class="md:ml-8 flex flex-col md:text-left text-center">
    <div>
      <h2 class="text-red-400 text-2xl font-angkor">
        Hola! Soy Bruno Virinni :D
      </h2>
      <h3 class="text-yellow-400 text-2xl font-angkor">
        Analista Universitario en Sistemas | FullStack Developer
      </h3>
      <p>+2 años de experiencia como frontend developer</p>
      <p>+1 año de experiencia como fullstack developer</p>
      <p>De Córdoba, Argentina</p>
      <div class="flex items-center justify-center md:justify-start mt-4">
        <Linkedin />
        <GitHub />
        <Gmail />
      </div>
    </div>
  </div>
</article>
