<article class="flex items-center border-lime-200 p-6">
  <div class="mr-8">
    <h2 class="text-red-400">Hola! Soy Bruno Virinni</h2>
    <h4 class="text-yellow-400">
      Analista Universitario en Sistemas | FullStack Developer
    </h4>
    <p>+2 años de experiencia como frontend developer</p>
    <p>+1 año de experiencia como fullstack developer</p>
  </div>
  <img src="/src/assets/foto.png" class="w-48 h-auto rounded-full" />
</article>
