---
import Proyecto from "../components/Proyecto.astro";
import "@fontsource/oswald";
import svgs from "../svgs/svgs";
---

<section class="my-8" id="proyectos">
  <h4
    class="text-4xl font-oswald font-semibold drop-shadow-[2px_2px_var(--tw-shadow-color)] shadow-blue-500 underline"
  >
    Proyectos
  </h4>
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-x-8 gap-y-8 mt-4">
    <Proyecto
      title="DoctorFY"
      desc="Sistema de información de turnos médicos en 72hs. Trabajo realizado para ENGTRADE. +200 usuarios en dia de lanzamiento."
      status="Deployed"
      url="https://doctorfy.com.ar/"
      tecnoImg={[
        {
          svg: svgs.react,
        },
        {
          svg: svgs.materialize,
        },
        {
          svg: svgs.node,
        },
        {
          svg: svgs.express,
        },
        {
          svg: svgs.mysql,
        },
        {
          svg: svgs.sequelize,
        },
        {
          svg: svgs.jwt,
        },
      ]}
      proySrc="/assets/drfy.png"
      shadow="hover:shadow-blue-500/50 shadow-blue-900/50"
      gradient="bg-gradient-to-r from-blue-500 to-gray-600"
      proyAlt="FlexTrainer Logo"
    />

    <Proyecto
      title="FlexTrainer"
      desc="Sistema de información de gestión de alumnos, profesionales, y planes de entrenamiento automatizados para gimnasios. Tesis Universitaria."
      status="Deployed"
      url="https://flextrainer-frontend.vercel.app/"
      tecnoImg={[
        {
          svg: svgs.react,
        },
        {
          svg: svgs.bootstrap,
        },
        {
          svg: svgs.node,
        },
        {
          svg: svgs.express,
        },
        {
          svg: svgs.mysql,
        },
        {
          svg: svgs.sequelize,
        },
      ]}
      proySrc="/assets/FlexLogo.png"
      shadow="hover:shadow-red-500/50 shadow-red-900/50"
      gradient="bg-gradient-to-r from-red-950 via-red-150 to-red-950"
      proyAlt="FlexTrainer Logo"
    />
    <Proyecto
      title="Neon Todo Machine"
      desc="Autogestión de tareas con temática de neón."
      status="Deployed"
      url="https://brun02k20.github.io/todo_machine/"
      tecnoImg={[
        {
          svg: svgs.html,
        },
        {
          svg: svgs.css,
        },
        {
          svg: svgs.js,
        },
        {
          svg: svgs.react,
        },
      ]}
      proySrc="/assets/TodoMachineLogo.png"
      proyAlt="Neon Todo Machine Logo"
      shadow="hover:shadow-blue-500/50 shadow-blue-900/50"
      gradient="bg-gradient-to-r from-blue-950 via-blue-550 to-cyan-950"
    />
    <Proyecto
      title="Google Translate Clone"
      desc="Clon del traductor de google realizado para investigar el desarrollo de la función de copiar al portapapeles y del habla."
      status="Deployed"
      url="https://google-translate-clone-tau.vercel.app/"
      tecnoImg={[
        {
          svg: svgs.react,
        },
        {
          svg: svgs.bootstrap,
        },
        {
          svg: svgs.node,
        },
        {
          svg: svgs.express,
        },
        {
          svg: svgs.ts,
        },
        {
          svg: svgs.vite,
        },
      ]}
      proySrc="/assets/TranslateClone.png"
      proyAlt="Clone Logo"
      shadow="hover:shadow-slate-300/50 shadow-gray-900/50"
      gradient="bg-gradient-to-r from-slate-800 via-stone-550 to-slate-600"
    />
    <Proyecto
      title="Que curso?"
      desc="Este proyecto permitirá que los alumnos de Ing. Sistemas de la UTN FRC sepan a qué materias pueden anotarse. +50 usuarios al mes de lanzamiento. 100% de feedback positivo"
      status="Deployed"
      url="https://que-curso-juanliendo-brunovir.vercel.app/"
      tecnoImg={[
        {
          svg: svgs.react,
        },
        {
          svg: svgs.css,
        },
        {
          svg: svgs.bootstrap,
        },
        {
          svg: svgs.node,
        },
        {
          svg: svgs.express,
        },
        {
          svg: svgs.vite,
        },
      ]}
      proySrc="/assets/QueCurso.png"
      proyAlt="Que curso Logo"
      shadow="hover:shadow-pink-700/50 shadow-pink-900/50"
      gradient="bg-gradient-to-r from-fuchsia-950 to-pink-900"
    />
    <Proyecto
      title="Tetris"
      desc="Clásico videojuego que pone a prueba la inteligencia espacial, con un sistema de Record. A ver cuantos puntos alcanzamos :D"
      status="Deployed"
      url="https://brun02k20tetris.vercel.app/"
      tecnoImg={[
        {
          svg: svgs.react,
        },
        {
          svg: svgs.css,
        },
        {
          svg: svgs.ts,
        },
        {
          svg: svgs.vite,
        },
      ]}
      proySrc="/assets/Tetris.png"
      proyAlt="Tetris Logo"
      shadow="hover:shadow-blue-500/50 shadow-blue-900/50"
      gradient="bg-gradient-to-br from-red-700 to-blue-900"
    />
    <Proyecto
      title="Pokedex"
      status="Deployed"
      desc="Consumo de la pokeapi, vía una aplicación Andrioid desarrollada con React Native."
      url="https://github.com/Brun02K20/pokedex"
      tecnoImg={[
        {
          svg: svgs.react,
        },
        {
          svg: svgs.css,
        },
      ]}
      proySrc="/assets/pokeball.png"
      proyAlt="Pokeball"
      shadow="hover:shadow-red-500/50 shadow-red-900/50"
      gradient="bg-gradient-to-r from-red-950 via-stone-650 to-stone-400"
    />
    <Proyecto
      title="Acme Dashboard"
      desc="Dashboard de gestión de pagos del tutorial de next.js.org."
      status="Deployed"
      url="https://my-dashboard-phi-three.vercel.app/"
      tecnoImg={[
        {
          svg: svgs.next,
        },
        {
          svg: svgs.tailwind,
        },
        {
          svg: svgs.ts,
        },
      ]}
      proySrc="/assets/AcmeDashboard.png"
      proyAlt="Acme Logo"
      shadow="hover:shadow-blue-500/50 shadow-blue-900/50"
      gradient="bg-gradient-to-r from-blue-800 via-blue-550 to-cyan-800"
    />
    <Proyecto
      title="Tic Tac Toe"
      desc="Juego de TATETI realizado para aprender sintaxis y lógica de componentes de ReactJs."
      status="Deployed"
      url="https://tictactoe-tau-sepia.vercel.app/"
      tecnoImg={[
        {
          svg: svgs.html,
        },
        {
          svg: svgs.css,
        },
        {
          svg: svgs.react,
        },
      ]}
      proySrc="/assets/TicTacToe.png"
      proyAlt="TicTacToe Logo"
      shadow="hover:shadow-slate-300/50 shadow-gray-900/50"
      gradient="bg-gradient-to-r from-slate-800 via-stone-550 to-slate-600"
    />
  </div>
</section>
