---
// Remove the following line:
// import type { HTMLAttributes } from "astro/dist/types/astro";
interface Props {
  svg: string;
}

const { svg } = Astro.props;
---

<div class="text-center m-2">
  <Fragment set:html={svg} />
</div>
